# Telegram
BOT_TOKEN=
ADMIN_ID=
GROUP_ID=
CHANNEL_ID=
CHANNEL_URL=

# Database
DB_NAME=vpn_service.db
BOT_DB_PATH=vpn_service.db

# Marzban panel
PANEL_URL=
PANEL_USER=
PANEL_PWD=
MARZBAN_DB_PATH=/opt/marzban/data/db.sqlite3
MARZBAN_ENV_PATH=/opt/marzban/.env
HAPP_ROUTING_LINK=

# Payments
PAYMENT_LINK=
WALLET_TON=
WALLET_ETH=
WALLET_BTC=
WALLET_USDT_TRC20=
WALLET_USDT_ERC20=
WALLET_USDT_TON=
WALLET_USDT_SOL=

# Backups
REMOTE_GDRIVE=
BACKUP_GPG_PASSPHRASE=

# Guides
GUIDE_IOS=
GUIDE_AND=
GUIDE_WIN=
GUIDE_MAC=
GUIDE_LINUX=
GUIDE_TV=
